<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556043492844-l1u92t3i21tacui1g4erqp8ug4kek5po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556043492844-l1u92t3i21tacui1g4erqp8ug4kek5po</string>
	<key>API_KEY</key>
	<string>AIzaSyDk9L_9dq0Qvyux1T65h3O5fVumVPyAy38</string>
	<key>GCM_SENDER_ID</key>
	<string>556043492844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibtikarat.nozhaapp</string>
	<key>PROJECT_ID</key>
	<string>nozha-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nozha-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556043492844:ios:d1e37ab38aba77872434c9</string>
</dict>
</plist>